/* 
 * 🎨 Override colors for this specific setup screen here 
 */
.dialog-header {
  background: #ad227f;
}

.btn-primary-action {
  background: #ad227f;
}

.btn-primary-action:hover {
  background: #ad227f;
}

.page-btn.active {
  background: #ad227f;
  border-color: #ad227f;
}

.btn-action-primary {
  background: #ad227f;
}

.btn-action-primary:hover {
  background: #e11d48;
}

.btn-icon.edit {
    color: #ad227f;
}

.btn-icon.edit:hover {
    color: #ad227f;
    background: rgba(244, 63, 94, 0.10);
    border-color: rgba(244, 63, 94, 0.25);
}
